@page
@model Aquaff.Pages.RegisterModel
@{
}

<div class="login__container">
    <div id="registernode" class="register">
        <div class="container">
            <form method="post" class="login__form login__blur">
                <p class="login__title">
                    Реєстрація
                </p>
                <div class="login__box">
                    <p class="login__descr">
                        Введіть пошту
                    </p>
                    <input class="input__style" placeholder="Mail@g.com" type="text" name="Email">
                    <p class="login__descr">
                        Введіть Пароль
                    </p>
                    <input class="input__style" placeholder="Password" type="text" name="Password">
                    <p class="login__descr">
                        Введіть Ім'я
                    </p>
                    <input class="input__style" placeholder="Name" type="text" name="Name">
                    <button class="submit__btn">
                        Зареєструватись
                    </button>
                    <p class="login__descr login__redirect-box">
                        Уже є аккаунт? <a asp-page="/Index" class="register__redirect">Увійти</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>